<!-- <h1>All Contacts</h1>

<ul>
<% Contact.all.each do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
<% end %>
</ul> -->
<div class="contact_div">
  <div class="contact_header"> <h3>There are <span>5</span> contacts</h3> </div>
  <div>
    <ul class="contact_list_div" style="list-style: none;">
      <% Contact.all.each do |contact| %>
        <div class="contact_list">
          <li > <a href="/contacts/<%= contact.id %>"><%= contact.full_name %> </a> (<%= contact.email %>)</li>
          <p class="p"> <a href="/contacts/<%= contact.id %>/edit">Edit </a> | <a href="/contacts/<%= contact.id %>/delete"> Delete </a> </p>
        </div>
      <% end %>
    </ul>
  </div>
</div>
